@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h4>Mission Statement:</h4>
<p>Misson Statement HERE</p>

<h4>Our Successes:</h4>
<p>Success stories, high saling items HERE</p>
