@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1234 This Needs Replaced lane<br />
    Tacoma, WA 98404<br />
    <abbr title="Phone">P:</abbr>
    253-555-1234
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Sales:</strong>   <a href="mailto:Sales@example.com">Sales@example.com</a><br />
    <strong>Orders:</strong>   <a href="mailto:Orders@example.com">Orders@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>