@{
    ViewBag.Title = "Home Page";
}
<head>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link href="@Url.Content("~/Content/site.css")" rel="stylesheet" type="text/css" />
    
</head>
<div class="jumbotron">


    <!-- Include the above in your HEAD tag -->
    <div class="container">
        <div class="col-xs-12">
            <div class="page-header">
                <h3>Whats hot?</h3>
            </div>

            <div class="carousel slide" id="myCarousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <ul class="thumbnails">
                            <li class="col-sm-3">
                                <div class="fff">
                                    <div class="thumbnail">
                                        <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                    </div>
                                    <div class="caption">
                                        <h4>Praesent commodo</h4>
                                        <p>Nullam Condimentum Nibh Etiam Sem</p>
                                        <a class="btn btn-mini" href="#">» Read More</a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-sm-3">
                                <div class="fff">
                                    <div class="thumbnail">
                                        <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                    </div>
                                    <div class="caption">
                                        <h4>Praesent commodo</h4>
                                        <p>Nullam Condimentum Nibh Etiam Sem</p>
                                        <a class="btn btn-mini" href="#">» Read More</a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-sm-3">
                                <div class="fff">
                                    <div class="thumbnail">
                                        <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                    </div>
                                    <div class="caption">
                                        <h4>Praesent commodo</h4>
                                        <p>Nullam Condimentum Nibh Etiam Sem</p>
                                        <a class="btn btn-mini" href="#">» Read More</a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-sm-3">
                                <div class="fff">
                                    <div class="thumbnail">
                                        <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                    </div>
                                    <div class="caption">
                                        <h4>Praesent commodo</h4>
                                        <p>Nullam Condimentum Nibh Etiam Sem</p>
                                        <a class="btn btn-mini" href="#">» Read More</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div><!-- /Slide1 -->
                    <div class="item">
                        <ul class="thumbnails">
                            <li class="col-sm-3">
                                <div class="fff">
                                    <div class="thumbnail">
                                        <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                    </div>
                                    <div class="caption">
                                        <h4>Praesent commodo</h4>
                                        <p>Nullam Condimentum Nibh Etiam Sem</p>
                                        <a class="btn btn-mini" href="#">» Read More</a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-sm-3">
                                <div class="fff">
                                    <div class="thumbnail">
                                        <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                    </div>
                                    <div class="caption">
                                        <h4>Praesent commodo</h4>
                                        <p>Nullam Condimentum Nibh Etiam Sem</p>
                                        <a class="btn btn-mini" href="#">» Read More</a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-sm-3">
                                <div class="fff">
                                    <div class="thumbnail">
                                        <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                    </div>
                                    <div class="caption">
                                        <h4>Praesent commodo</h4>
                                        <p>Nullam Condimentum Nibh Etiam Sem</p>
                                        <a class="btn btn-mini" href="#">» Read More</a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-sm-3">
                                <div class="fff">
                                    <div class="thumbnail">
                                        <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                    </div>
                                    <div class="caption">
                                        <h4>Praesent commodo</h4>
                                        <p>Nullam Condimentum Nibh Etiam Sem</p>
                                        <a class="btn btn-mini" href="#">» Read More</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div><!-- /Slide2 -->
                    <div class="item">
                        <ul class="thumbnails">
                            <li class="col-sm-3">
                                <div class="fff">
                                    <div class="thumbnail">
                                        <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                    </div>
                                    <div class="caption">
                                        <h4>Praesent commodo</h4>
                                        <p>Nullam Condimentum Nibh Etiam Sem</p>
                                        <a class="btn btn-mini" href="#">» Read More</a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-sm-3">
                                <div class="fff">
                                    <div class="thumbnail">
                                        <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                    </div>
                                    <div class="caption">
                                        <h4>Praesent commodo</h4>
                                        <p>Nullam Condimentum Nibh Etiam Sem</p>
                                        <a class="btn btn-mini" href="#">» Read More</a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-sm-3">
                                <div class="fff">
                                    <div class="thumbnail">
                                        <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                    </div>
                                    <div class="caption">
                                        <h4>Praesent commodo</h4>
                                        <p>Nullam Condimentum Nibh Etiam Sem</p>
                                        <a class="btn btn-mini" href="#">» Read More</a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-sm-3">
                                <div class="fff">
                                    <div class="thumbnail">
                                        <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                    </div>
                                    <div class="caption">
                                        <h4>Praesent commodo</h4>
                                        <p>Nullam Condimentum Nibh Etiam Sem</p>
                                        <a class="btn btn-mini" href="#">» Read More</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div><!-- /Slide3 -->
                </div>


                <nav>
                    <ul class="control-box pager">
                        <li><a data-slide="prev" href="#myCarousel" class=""><i class="glyphicon glyphicon-chevron-left"></i></a></li>
                        <li><a data-slide="next" href="#myCarousel" class=""><i class="glyphicon glyphicon-chevron-right"></i></a></li>
                    </ul>
                </nav>
                <!-- /.control-box -->

            </div><!-- /#myCarousel -->

        </div><!-- /.col-xs-12 -->
    </div><!-- /.container -->
</div>
<div class="jumbotron">


    <!-- Include the above in your HEAD tag -->
    <div class="container">
        <div class="col-xs-12">
            <div class="page-header">
                <h3>Whats New?</h3>
            </div>

            <div class="carousel slide" id="myCarousel2">
                <div class="carousel-inner">
                    <div class="item active">
                        <ul class="thumbnails">
                            <li class="col-sm-3">
                                <div class="fff">
                                    <div class="thumbnail">
                                        <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                    </div>
                                    <div class="caption">
                                        <h4>Praesent commodo</h4>
                                        <p>Nullam Condimentum Nibh Etiam Sem</p>
                                        <a class="btn btn-mini" href="#">» Read More</a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-sm-3">
                                <div class="fff">
                                    <div class="thumbnail">
                                        <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                    </div>
                                    <div class="caption">
                                        <h4>Praesent commodo</h4>
                                        <p>Nullam Condimentum Nibh Etiam Sem</p>
                                        <a class="btn btn-mini" href="#">» Read More</a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-sm-3">
                                <div class="fff">
                                    <div class="thumbnail">
                                        <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                    </div>
                                    <div class="caption">
                                        <h4>Praesent commodo</h4>
                                        <p>Nullam Condimentum Nibh Etiam Sem</p>
                                        <a class="btn btn-mini" href="#">» Read More</a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-sm-3">
                                <div class="fff">
                                    <div class="thumbnail">
                                        <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                    </div>
                                    <div class="caption">
                                        <h4>Praesent commodo</h4>
                                        <p>Nullam Condimentum Nibh Etiam Sem</p>
                                        <a class="btn btn-mini" href="#">» Read More</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div><!-- /Slide1 -->
                    <div class="item">
                        <ul class="thumbnails">
                            <li class="col-sm-3">
                                <div class="fff">
                                    <div class="thumbnail">
                                        <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                    </div>
                                    <div class="caption">
                                        <h4>Praesent commodo</h4>
                                        <p>Nullam Condimentum Nibh Etiam Sem</p>
                                        <a class="btn btn-mini" href="#">» Read More</a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-sm-3">
                                <div class="fff">
                                    <div class="thumbnail">
                                        <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                    </div>
                                    <div class="caption">
                                        <h4>Praesent commodo</h4>
                                        <p>Nullam Condimentum Nibh Etiam Sem</p>
                                        <a class="btn btn-mini" href="#">» Read More</a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-sm-3">
                                <div class="fff">
                                    <div class="thumbnail">
                                        <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                    </div>
                                    <div class="caption">
                                        <h4>Praesent commodo</h4>
                                        <p>Nullam Condimentum Nibh Etiam Sem</p>
                                        <a class="btn btn-mini" href="#">» Read More</a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-sm-3">
                                <div class="fff">
                                    <div class="thumbnail">
                                        <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                    </div>
                                    <div class="caption">
                                        <h4>Praesent commodo</h4>
                                        <p>Nullam Condimentum Nibh Etiam Sem</p>
                                        <a class="btn btn-mini" href="#">» Read More</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div><!-- /Slide2 -->
                    <div class="item">
                        <ul class="thumbnails">
                            <li class="col-sm-3">
                                <div class="fff">
                                    <div class="thumbnail">
                                        <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                    </div>
                                    <div class="caption">
                                        <h4>Praesent commodo</h4>
                                        <p>Nullam Condimentum Nibh Etiam Sem</p>
                                        <a class="btn btn-mini" href="#">» Read More</a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-sm-3">
                                <div class="fff">
                                    <div class="thumbnail">
                                        <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                    </div>
                                    <div class="caption">
                                        <h4>Praesent commodo</h4>
                                        <p>Nullam Condimentum Nibh Etiam Sem</p>
                                        <a class="btn btn-mini" href="#">» Read More</a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-sm-3">
                                <div class="fff">
                                    <div class="thumbnail">
                                        <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                    </div>
                                    <div class="caption">
                                        <h4>Praesent commodo</h4>
                                        <p>Nullam Condimentum Nibh Etiam Sem</p>
                                        <a class="btn btn-mini" href="#">» Read More</a>
                                    </div>
                                </div>
                            </li>
                            <li class="col-sm-3">
                                <div class="fff">
                                    <div class="thumbnail">
                                        <a href="#"><img src="http://placehold.it/360x240" alt=""></a>
                                    </div>
                                    <div class="caption">
                                        <h4>Praesent commodo</h4>
                                        <p>Nullam Condimentum Nibh Etiam Sem</p>
                                        <a class="btn btn-mini" href="#">» Read More</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div><!-- /Slide3 -->
                </div>


                <nav>
                    <ul class="control-box pager">
                        <li><a data-slide="prev" href="#myCarousel2" class=""><i class="glyphicon glyphicon-chevron-left"></i></a></li>
                        <li><a data-slide="next" href="#myCarousel2" class=""><i class="glyphicon glyphicon-chevron-right"></i></a></li>
                    </ul>
                </nav>
                <!-- /.control-box -->

            </div><!-- /#myCarousel -->

        </div><!-- /.col-xs-12 -->
    </div><!-- /.container -->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>